{"id": "{{ norboten_image_id }}", "distro": "{{ norboten_distro }}", "init": "{{ norboten_init }}", "pkg": "{{ norboten_pkg }}", "mac": "{{ norboten_mac }}", "version": "{{ norboten_image_version | default(ansible_date_time.date) }}"}
